/*  ============================================================================
*
*   Typography
*
*   Define high level typography styling
*   ========================================================================= */

body {
  font-family: #{$font-family};
}

h1 {
  @include font-size(28);
  text-align: center;
  font-family: #{$heading-family};
  font-style: normal;
  font-weight: 400;
}

td {
  text-align: center;
  font-weight: 300;
}
