//  ============================================================================
//
//  Variables
//
//  Project Level Variables
//  ============================================================================

//  Colors
//  Light to Dark and ROYGBIV
//  ============================================================================

//  Greys
//  ========================================================
$stainless-steel: #fcfaf9;
$aluminium: #a19f9e;
$willow-charcoal: #525150;
$compressed-charcoal: #2d2e2e;

//  Reds
//  ========================================================

//  Oranges
//  ========================================================

//  Yellows
//  ========================================================

//  Greens
//  ========================================================

//  Blues
//  ========================================================
$aqua: #4ebab2;

//  Indogos
//  ========================================================

//  Violets
//  ========================================================

//  Typography
//  ============================================================================
$base-font-size:  14;

$serif-stack:  georgia, times, serif;
$sans-serif-stack:  verdana, arial, sans-serif;

$fancy-serif-stack: "bree-serif-1","bree-serif-2", #{$serif-stack};
$fancy-sans-serif-stack: "soleil-1","soleil-2", #{$sans-serif-stack};

//  Media Queries
//  ============================================================================

//  Layout
//  ============================================================================

//  Paths
//  ============================================================================

//  Project Specifics
//  ============================================================================

//  Anchor Defaults
//  ========================================================
$linky-blue: #{$aqua};

//  Typography Defaults
//  ========================================================
$color: #{$compressed-charcoal};
$font-family: #{$fancy-sans-serif-stack};
$heading-family: #{$fancy-serif-stack};
