//  ============================================================================
//
//  Variables
//
//  Project Level Variables
//  ============================================================================

//  Colors
//  Light to Dark and ROYGBIV
//  ============================================================================

//  Greys
//  ========================================================

//  Reds
//  ========================================================

//  Oranges
//  ========================================================

//  Yellows
//  ========================================================

//  Greens
//  ========================================================

//  Blues
//  ========================================================

//  Indogos
//  ========================================================

//  Violets
//  ========================================================

//  Typography
//  ============================================================================
$base-font-size:  14;

$serif-stack:  georgia, times, serif;
$sans-serif-stack:  helvetica, arial, sans-serif;

$fancy-serif-stack: $serif-stack;
$fancy-sans-serif-stack: $san-serif-stack;

//  Media Queries
//  ============================================================================

//  Layout
//  ============================================================================

//  Paths
//  ============================================================================

//  Project Specifics
//  ============================================================================

//  Anchor Defaults
//  ========================================================
$linky-blue: blue;
