/*  ============================================================================
*
*   Layout
*
*   Layout related css
*   ========================================================================= */

body {
  padding-bottom: pxs2ems(86);
  padding-bottom: pxs2rems(86);
}

.l {
  &-wrap {
    max-width: pxs2rems(360);
    padding: 0 pxs2ems(12);
    padding: 0 pxs2rems(12);
    margin: 0 auto;

    @include mq($large-screen) {
      max-width: pxs2rems(680);
    }
  }
}
