table
  tr
    td 5
    td 3
    td
    td
    td 7
    td
    td
    td
    td
  tr
    td 6
    td
    td
    td 1
    td 9
    td 5
    td
    td
    td
  tr
    td
    td 9
    td 8
    td
    td
    td
    td
    td 6
    td
  tr
    td 8
    td
    td
    td
    td 6
    td
    td
    td
    td 3
  tr
    td 4
    td
    td
    td 8
    td
    td 3
    td
    td
    td 1
  tr
    td 7
    td
    td
    td
    td 2
    td
    td
    td
    td 6
  tr
    td
    td 6
    td
    td
    td
    td
    td 2
    td 8
    td
  tr
    td
    td
    td
    td 4
    td 1
    td 9
    td
    td
    td 5
  tr
    td
    td
    td
    td
    td 8
    td
    td
    td 7
    td 9
