form
  fieldset
    legend Row 1 Column 1
    ol
      li
        label Potential Answer
        input(type='text')
      li
        label Final Answer
        input(type='tel')
      li
        button Update Cell
