/*  ============================================================================
*
*   SudokuBoard
*
*   Module for styline the sudoku board
*   ========================================================================= */

.SudokuBoard {
  border: 2px solid $willow-charcoal;
  margin-bottom: pxs2ems(32);
  margin-bottom: pxs2rems(32);

  td {
    border: 1px solid $willow-charcoal;
    height: pxs2ems(30);
    height: pxs2rems(30);

    @include mq($large-screen) {
      @include font-size(24);
      @include line-height(32, 24);
      height: pxs2ems(60, 24);
      height: pxs2rems(60);
    }

    &:nth-child(3n) {
      border-right: 2px solid $willow-charcoal;
    }
  }

  tr:nth-child(3n) {
    td {
      border-bottom: 2px solid $willow-charcoal;
    }
  }
}
